#teacher-list-rows tbody:nth-child(odd) {
    background-color: #faf5fb;
  }
  .teacher-list td, .teacher-list th {
    font-family: Arial, serif;
  }
  
  :root {
    --main-color: rgb(249, 83, 6);
  }
  
  
  
  body {
    margin: 75px;
    background-color: rgb(251, 250, 247);
    margin-top: 40px;
  }
  
  .wrapperForImportantLinks {
    display: grid;
    grid-gap: 10px;
    grid-row-gap: 30px;
    grid-template-columns: auto auto auto auto auto auto auto auto;
  
    color: var(--main-color);
    font-size: 150%;
  }
  
  .wrapperForInformationAboutTeacher {
  
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 60% 30%;
  }
  
  .gridCellForname {
    grid-column: 2;
    grid-row: 1;
  }
  
  .gridCellForSurname {
    grid-column: 2;
    grid-row: 2;
  }
  
  .gridCellForSex {
    grid-column: 2;
    grid-row: 3;
  }
  
  .gridCellForDate {
    grid-column: 2;
    grid-row: 4;
  }
  
  .gridCellForPhone {
    grid-column: 2;
    grid-row: 5;
  }
  
  .gridCellForCountry {
    grid-column: 2;
    grid-row: 6;
  }
  
  .topOfSite {
    flex-direction: row-reverse;
    display: flex;
    padding: 5px;
    text-align: left;
    margin-top: 30px;
    font-size: 50px;
  
  }
  
  .importantLinksTeachers {
  
    font-family: sans-serif;
    color: var(--main-color);
    grid-column: 1;
    grid-row: 2;
  }
  
  .importantLinksStatistics {
  
    font-family: sans-serif;
    color: var(--main-color);
    grid-column: 2;
    grid-row: 2;
  }
  
  .importantLinksFavourites {
  
    font-family: sans-serif;
    color: var(--main-color);
    grid-column: 3;
    grid-row: 2;
  }
  
  .importantLinksAbout {
  
    font-family: sans-serif;
    color: var(--main-color);
    grid-column: 4;
    grid-row: 2;
  }
  
  .addTeacherButton {
    background-color: rgb(251, 250, 247);
    border: 1px solid var(--main-color);
    width: auto;
  
    font-family: sans-serif;
    color: var(--main-color);
    grid-column: end;
    grid-row: 2;
    height: 45px;
  
  }
  
  .search {
    margin: 5px;
    background-color: rgb(251, 250, 247);
    border: 1px solid var(--main-color);
    padding: 16px;
    font-family: sans-serif;
    color: var(--main-color);
  
  }
  
  .nameOrAge {
    background-color: rgb(251, 250, 247);
    border: 1px solid rgb(170, 169, 169);
    padding: 16px;
    margin: 5px;
  }
  
  h1 {
    -webkit-text-stroke: 1px var(--main-color);
    text-shadow: 1px 2px 3px rgb(9, 9, 9);
    font-family: sans;
    color: rgb(248, 248, 245);
    font-size: 2.9em;
  }
  
  input {
    padding: 16px;
    margin: 0 auto;
  }
  
  hr {
    margin-top: 30px;
    border-top: 1px solid rgb(20, 9, 9);
    width: 60%;
  }
  
  .form {
    margin-top: 50px;
    text-align: left;
    background-color: transparent;
  
  }
  
  .legend {
    text-align: center;
    font-size: 2.0em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  label {
    font-family: sans;
    color: rgb(80, 80, 80);
  }
  
  
  fieldset {
    margin-top: 30px;
    border: 1px rgb(80, 80, 80);
    text-align: left;
    width: 100%;
  }
  
  .cardsOfTeacherInGrid {
  
    display: grid;
  
    grid-row-gap: 30px;
    grid-template-columns: auto auto auto auto auto;
    margin-left: 15%;
    margin-right: 15%;
  
  
  }
  
  .cardsOfTeacher {
    text-align: center;
    margin-top: 30px;
    column-count: 7;
  
  }
  
  .figurecaptureName {
  
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .textnumbers {
    font-family: sans;
    color: rgb(80, 80, 80);
  }
  
  .textnumbers:visited {
    font-family: sans;
    color: rgb(37, 2, 144);
  }
  
  img {
    border-radius: 50%;
    border: solid var(--main-color);
  }
  
  .row_color_white {
    background-color: #e1e3e3;
  }
  
  TABLE {
    margin-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(7, 7, 7);
    width: 100%;
    border: 0px solid rgb(15, 14, 14);
    border-spacing: 0;
    /* Removes the cell spacing via CSS */
    border-collapse: collapse;
    caption-side: 2em solid black;
  }
  
  caption {
    text-align: center;
    margin-bottom: 5px;
    font-size: 160%;
    padding: 5px;
    font-weight: bold;
  }
  
  p {
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80%
  }
  
  .ecseption {
    background: white;
  }
  
  .text_shadow {
    background: white;
    font: solid black;
    font-size: 35px;
    text-shadow: gray 10px 10px 7px;
  }
  
  
  
  @media only screen and (max-width: 768px) {
  
    /* For mobile phones: */
    [class*="content"] {}
  }
  
  .imageOfTeachers {
    grid-column: 1;
    grid-row: 1/5;
    border-radius: 0%;
    border: 0px;
    width: 40%;
    margin: 0px;
    align-items: flex-start;
  }
  
  .strelka {
    font-size: 60px;
  }
  
  #full_card {
    text-align: left;
  
  }
  
  * {
    box-sizing: border-box;
  }
  
  .boxfloat {
    float: left;
    width: 13%;
    position: relative;
    left: 15%;
  }
  
  .age {
  
    width: 13%;
    left: 15%;
  }
  
  .formForSearching::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .informationAboutTeacher {
    width: 40%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
  
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-decoration: none;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popupContactInformation {
  
    margin: 70px auto;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
  }
  
  a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
  }
  
  .popupContactInformation .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
  
  .popupContactInformation .content {
    max-height: 50%;
    overflow: auto;
    text-align: center;
  }
  
  @media screen and (max-width: 700px) {
    .box {
      width: 70%;
    }
  
    .popupContactInformation {
      width: 70%;
    }
  }
  
  .textnumbers:visited {
    font: solid black;
  }