<!DOCTYPE html>
<html>
<head>
  <title>Parcel Sandbox</title>
  <meta charset="UTF-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex"></script>
</head>

<body>
<div id="vapp">
  <div id="app">
    <section>
      <div>
        <h2>Knowledge Base</h2>
        <textarea
                name="input-7-1"
                v-model="program"
                placeholder="Write Program"
        ></textarea>
      </div>
      <div>
        <h2>Query</h2>
        <textarea
                name="input-7-1"
                v-model="query"
                placeholder="Query the KB. [ctrl + enter] to execute"
        ></textarea>
      </div>
    </section>

    <button @click="runProlog()" v-on:keypress.ctrl.enter="runProlog()">
      run
    </button>

    <pre>{{ answers }}</pre>
  </div>
</div>

<script src="src/index.js"></script>
</body>
</html>
